<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="/todo-list" routerLinkActive="active" class="nav-link">Todo List</a>
        </li>
        <li class="nav-item">
            <a routerLink="/template-driven" routerLinkActive="active" class="nav-link">Template Driven Form</a>
        </li>
        <li class="nav-item">
            <a routerLink="/reactive-form" routerLinkActive="active" class="nav-link">Reactive Form</a>
        </li>
    </ul>
</nav>