<form>
    <div class="input-group mb-3">
        <input 
            type="text"
            name="inputTodo"
            placeholder="Enter todo..."
            class="form-control"
            [(ngModel)]="inputTodo"
        />
        <input
            type="submit"
            value="Add Todo"
            class="btn btn-primary"
            (click)="addTodo()"
        />
    </div>
</form>