<div class="container">

    <div class="col text-right">
      <div routerLink="/add-customer" class="btn btn-success">
        <i class="bi bi-file-plus"></i>
        Tambahkan Nasabah baru
      </div>
    </div>
    
    <table class="table" *ngIf="customers">
        <thead>
          <tr>
            <th scope="col">Customer Id</th>
            <th scope="col">Nama</th>
            <th scope="col">Tanggal Lahir</th>
            <th scope="col">NIK</th>
            <th scope="col">Jenis Kelamin</th>
            <!-- <th scope="col">Alamat Domisili</th>
            <th scope="col">Alamat KTP</th>
            <th scope="col">Alamat Kantor</th>
            <th scope="col">Emergency Contact</th>
            <th scope="col">Periode</th>
            <th scope="col">Profesi</th>
            <th scope="col">Monthly Income</th>
            <th scope="col">Nama Perusahaan</th>
            <th scope="col"></th> -->
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
              <th scope="row">{{customer.customerId}}</th>
              <td>{{customer.nama}}</td>
              <td>{{customer.nik}}</td>
              <td>{{customer.dob}}</td>
              <td>{{customer.jenisKelamin}}</td>
              <!-- <td>{{customer.alamatDomisili}}</td>
              <td>{{customer.alamatKTP}}</td>
              <td>{{customer.alamatKantor}}</td>
              <td>{{customer.emergencyContact}}</td>
              <td>{{customer.periode}}</td>
              <td>{{customer.profesi}}</td>
              <td>{{customer.monthlyIncome}}</td>
              <td>{{customer.namaPerusahaan}}</td> -->
              <td>
                <div class="btn-group">                    
                    <a routerLink="/update-customer">
                    <button 
                      class="btn btn-primary">
                        <i class="bi bi-brush"></i>
                    </button>
                    </a>
                    <button 
                        type="delete"
                        (click)="deleteCustomer(customer.customerId)"
                        class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
              </td>
            </tr>
        </tbody>
    </table>
  </div>