<div class="container">
    <div class="row">
        <div class="col">
            <h3>Tambahkan Customer</h3>
        </div>
        <div class="col text-right">
            <a routerLink="/list-customer" class="btn btn-secondary btn-sm">
                Back to Customer List
            </a>
        </div>
    </div>

    <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm)">
        <div class="form-group">
            <label for="customerId">Customer ID:</label>
            <input type="text"
                id="customerId"
                formControlName="customerId"
                class="form-control">
        </div>
        <div class="form-group">
            <label for="nama">Nama:</label>
            <input type="text"
                id="nama"
                formControlName="nama"
                class="form-control">
        </div>
        <div class="form-group">
            <label for="nik">NIK:</label>
            <input type="text"
                id="nik"
                formControlName="nik"
                class="form-control">
        </div>
        <div class="form-group">
            <label for="dob">Tanggal Lahir:</label>
            <input type="text"
                id="dob"
                formControlName="dob"
                class="form-control">
        </div>
        <div class="form-group">
            <label for="jenisKelamin">Jenis Kelamin:</label>
            <!-- <input type="text"
                id="jenisKelamin"
                formControlName="jenisKelamin"
                class="form-control"> -->
                <select class="btn btn-secondary dropdown-toggle">
                    <option *ngFor="let jk of jenisKelamin" [value]="jk.value">{{jk.value}}</option>
                </select>
        </div>
        <div class="form-group">
            <label for="alamatDomisili">Alamat Domisili:</label>
            <input type="text"
                id="alamatDomisili"
                formControlName="alamatDomisili"
                class="form-control">
        </div>
        <div class="form-group">
            <label for="alamatKTP">Alamat KTP:</label>
            <input type="text"
                id="alamatKTP"
                formControlName="alamatKTP"
                class="form-control">
        </div>
        <div class="form-group">
            <label for="alamatKantor">Alamat Kantor:</label>
            <input type="text"
                id="alamatKantor"
                formControlName="alamatKantor"
                class="form-control">
        </div>
        <div class="form-group">
            <label for="emergencyContact">Emergency Contact:</label>
            <input type="text"
                id="emergencyContact"
                formControlName="emergencyContact"
                class="form-control">
        </div>
        <div class="form-group">
            <label for="periode">Periode:</label>
            <input type="text"
                id="periode"
                formControlName="periode"
                class="form-control">
        </div>
        <div class="form-group">
            <label for="profesi">Profesi:</label>
            <!-- <input type="text"
                id="profesi"
                formControlName="profesi"
                class="form-control"> -->
                <select class="btn btn-secondary dropdown-toggle">
                    <option *ngFor="let pr of profesi" [value]="pr.value">{{pr.value}}</option>
                </select>
        </div>
        <div class="form-group">
            <label for="monthlyIncome">Monthly Income:</label>
            <input type="text"
                id="monthlyIncome"
                formControlName="monthlyIncome"
                class="form-control">
        </div>
        <div class="form-group">
            <label for="namaPerusahaan">Nama Perusahaan:</label>
            <input type="text"
                id="namaPerusahaan"
                formControlName="namaPerusahaan"
                class="form-control">
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!addForm.valid">Add</button>
    </form>
</div>