<form (ngSubmit)="onSubmit(todoForm)" #todoForm="ngForm">
    <div class="form-group">
        <label for="task">Task</label>
        <input type="text" class="form-control" id="taskName"
            name="taskName" ngModel
            required #taskName="ngModel">
        <div [hidden]="taskName.valid || taskName.pristine" class="alert alert-danger">
            Name is required
        </div>
    </div>

    <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" id="category" name="category" ngModel>
            <option *ngFor="let category of categories" [value]="category">{{category}}</option>
        </select>
    </div>

    <button class="btn btn-success" type="submit" [disabled]="todoForm.form.invalid">Submit</button>
</form>