<h1>Login Form</h1>

<form (formGroup)="loginForm" (ngSubmit)="onLogin()">
    <div class="form-group">
        <label for="name">Username</label>
        <input 
            type="text" 
            class="form-control"
            id="username"
            name="username"
            formControlName="username"
        >
        <span *ngIf="username && username.invalid"
            style="color: red;">Input Username is invalid</span>
    </div>
    <div class="form-group">
        <label for="name">Password</label>
        <input 
            type="text"
            class="form-control"
            id="password"
            name="password"
            formControlName="password"
        >
    </div>
    <button class="btn btn-success" type="submit">Login</button>
</form>