<div class="col-md-12">
    <div class="error-template">
        <h3>Oops!</h3>
        <h2>404 Not Found</h2>
        <div class="error-details mb-3">
            Sorry, Requested page not found!
        </div>
        <div class="error-actions">
            <a routerLink="/todo-list" class="btn btn-danger btn-lg">
                Go back to Todo List
            </a>
        </div>
    </div>
</div>