<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="/list-customer" routerLinkActive="active" class="nav-link">List Customer</a>
        </li>
        <li class="nav-item">
            <a routerLink="/pie-chart" routerLinkActive="active" class="nav-link">Pie Chart</a>
        </li>
        <li class="nav-item">
            <a routerLink="/line-chart" routerLinkActive="active" class="nav-link">Line Chart</a>
        </li>
        <li class="nav-item">
            <a routerLink="/bar-chart" routerLinkActive="active" class="nav-link">Bar Chart</a>
        </li>
    </ul>
</nav>